<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="  
        http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
        http://www.springframework.org/schema/tx  
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd  
        http://www.springframework.org/schema/aop  
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context-4.0.xsd  
        http://www.springframework.org/schema/mvc   
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
        
        <!-- 注解支持 -->
        <context:annotation-config />
        
        <!-- 启动组件扫描，排除@Controller组件，该组件由SpringMVC配置文件扫描 -->
        <context:component-scan base-package="tjweb.dao,tjweb.service">
        	<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
        </context:component-scan>
        
        <!-- JDBC属性文件位置 -->
        <context:property-placeholder location="classpath:jdbc.properties"/>
        
        <!-- MySQL数据库连接 -->
        <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        	<property name="driverClassName" value="${jdbc.driverClassName}" />
        	<property name="url" value="${jdbc.url}" />
        	<property name="username" value="${jdbc.username}" />
        	<property name="password" value="${jdbc.password}" />
        </bean>
        
        <!-- 创建sessionFactory工具类 -->
        <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        	<property name="dataSource" ref="dataSource" />
        	<property name="hibernateProperties">
        		<props>
        			<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
        			<prop key="hibernate.show_sql">true</prop>
        			<prop key="hibernate.temp.use_jdbc_metadata_defaults">false</prop>
        		</props>
        	</property>
        	<property name="mappingResources">
        		<list>
        			<value>tjweb/model/TUser.hbm.xml</value>
        			<value>tjweb/model/TUserInfo.hbm.xml</value>
        			<value>tjweb/model/TBaol.hbm.xml</value>
        			<value>tjweb/model/TXianz.hbm.xml</value>
        			<value>tjweb/model/TComm.hbm.xml</value>
        			<value>tjweb/model/TShouc.hbm.xml</value>
        			<value>tjweb/model/TKind.hbm.xml</value>
        			<value>tjweb/model/TMall.hbm.xml</value>
        			<value>tjweb/model/TJub.hbm.xml</value>
        			<value>tjweb/model/TPunish.hbm.xml</value>
        			<value>tjweb/model/TAddress.hbm.xml</value>
        			<value>tjweb/model/TAgree.hbm.xml</value>
        		</list>
        	</property>
        </bean>
        
       	<!-- Spring接管Hibernate CRUD操作 -->
       	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
       		<property name="sessionFactory" ref="sessionFactory" />
       	</bean>
       	
       	<!-- Spring声明式事务管理器 -->
       	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
       		<property name="sessionFactory" ref="sessionFactory" />
       	</bean>
        
        <!-- 配置事务特性，配置add，delete，update开始的方法，事务传播特性为required -->
        <tx:advice id="txAdvice" transaction-manager="transactionManager">  
            <tx:attributes>  
                <!-- REQUIRED 表示 如果存在一个事务，则支持当前事务。如果没有事务则开启 -->  
                <tx:method name="add*" propagation="REQUIRED" />  
                <tx:method name="delete*" propagation="REQUIRED" />  
                <tx:method name="update*" propagation="REQUIRED" />  
                <tx:method name="*" read-only="true" />  
            </tx:attributes>  
        </tx:advice>

		<aop:config>
			<aop:pointcut id="allManagerMethod"
				expression="execution(* tjweb.service.*.*(..))" />
			<aop:advisor advice-ref="txAdvice" pointcut-ref="allManagerMethod" />
		</aop:config>
</beans>
